@model IEnumerable<TransportationManagement.Web.Models.TransportationRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliverypDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliverypDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
