@model TransportationManagement.Web.Models.TransportationDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransportationDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliverypDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliverypDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportationHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportationHeader.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleLicensePlateNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleLicensePlateNavigation.LicensePlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
