<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TransportationManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TransportationManagement.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div>
                    <button class="btn btn-light border mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#Menu" aria-controls="Menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TransportationManagement</a>
                </div>

                <div class="d-none d-sm-block">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="Menu" aria-labelledby="Menu">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title">TransportationManagement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr />
            @{
                var menuItems = new[] {
                    new { ControllerName = "TransportationsHeaders", Title = "Ordenes", IconClass = "fa-solid fa-map-location-dot", isActive = true },
                    new { ControllerName = "Clients", Title = "Clientes", IconClass = "fa-solid fa-users", isActive = false },
                    new { ControllerName = "Drivers", Title = "Conductores", IconClass = "fa-solid fa-address-card", isActive = false },
                    new { ControllerName = "Invioces", Title = "Facturas", IconClass = "fa-solid fa-file-invoice-dollar", isActive = false },
                    new { ControllerName = "Payments", Title = "Pagos", IconClass = "fa-solid fa-hand-holding-dollar", isActive = false },
                    new { ControllerName = "Vehicles", Title = "Vehiculos", IconClass = "fa-solid fa-truck-moving", isActive = false },
                    new { ControllerName = "VehiclesTypes", Title = "Tipos de vehiculos", IconClass = "fa-solid fa-truck-plane", isActive = false },
                    new { ControllerName = "VehiclesExtensions", Title = "Extensiones de vehiculos", IconClass = "fa-solid fa-truck-ramp-box", isActive = false }
                };
            }
            <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-auto">
                    @foreach(var item in menuItems)
                    {
                        <li class="nav-item mb-3">
                            <a class="nav-link @(item.isActive ? "active" : "text-dark")" asp-controller="@item.ControllerName" asp-action="index">
                                <i class="@item.IconClass me-2"></i>
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TransportationManagement.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
